@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');

#root {
  max-width: 1280px;
  min-height: 800px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #333333, #dd1818);
}

.containerCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  font-size: 3rem; /* Taille du texte (et donc de l’emoji) */
  padding: 0.5rem 1rem; /* Espacement interne */
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

section {
  width: 80%;
  height: 80%;
  min-height: 500px;
  background-color: antiquewhite;
  padding: 30px 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
p,
li {
  color: #000000;
}

h1 {
  font-family: 'BenchNine', sans-serif;
}

h2 {
  font-size: 1.8em;
  font-family: 'BenchNine', sans-serif;
}

p,
li {
  font-size: 1.6rem;
}

.presentation {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.presentationText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  text-align: right;
  gap: 10px;
}

.bubble {
  display: flex;
  justify-content: center;
}

.bubble img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: #000 2px solid;
  border-radius: 200px;
  box-shadow: 4px 4px 8px #00000080;
}

.logoAndText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.text {
  width: 60%;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.myIcon {
  font-size: 80px;
  color: #000;
}

.rightComments {
  text-align: right;
  font-size: 1.2rem;
  color: #333333;
}

.leftComments {
  text-align: left;
  font-size: 1.2rem;
  color: #333333;
}

.skillsPresentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

.skillsText {
  padding: 40px 0;
}
.skillsText p {
  margin: 0;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

li img {
  width: 40px;
  height: 40px;
}

.comments {
  font-size: 1rem;
  margin: 0;
  text-align: center;
  color: #333333;
}

.bye {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coordonnees {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.coordonnees p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.coordonnees a {
  color: black;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  button {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.4rem;
  }

  .presentation {
    flex-direction: column;
    gap: 25px;
  }

  .bubble img {
    height: 200px;
    width: 200px;
  }

  .presentationText {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  .rightComments {
    text-align: center;
  }

  .skillsText {
    padding: 30px 0;
  }

  .coordonnees {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .coordonnees p {
    margin: 0;
  }
}

@media (max-width: 750px) {
  #root {
    padding: 0.5rem;
  }

  section {
    padding: 10px 15px;
    min-height: 300px;
  }

  button {
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  ul {
    margin: 0;
  }

  p,
  li {
    font-size: 1rem;
    gap: 15px;
  }

  li img {
    width: 25px;
    height: 25px;
  }

  .bubble img {
    height: 110px;
    width: 110px;
  }

  .skillsPresentation {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .logo {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  .logoAndText {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .rightComments {
    margin: 0;
    font-size: 0.8rem;
  }

  .text {
    width: 100%;
  }

  .myIcon {
    font-size: 30px;
  }

  .bye {
    flex-direction: column;
    gap: 15px;
  }

  .coordonnees {
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }

  .coordonnees p {
    gap: 0px;
  }

  .coordonnees a {
    font-size: 0.7rem;
  }

  .comments {
    font-size: 0.8rem;
  }

  .skillsText {
    padding: 25px 0;
  }
}
